.badge-estoque{
    border-right: 5px solid;
}
.estoque{
    color: #000;
    background-color: #fff;
    padding: 3px 8px;
    border-radius: 2px;
    margin-left: 10px;
}

.border-danger{
    border-color: #d63e4d;
}
.border-warning{
    border-color: #ffc107;
}
.border-success{
    border-color: #3ebe5c;
}

.preco{
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
}
.produto{
    border-radius: 15px;
}
.produto p{
    color: #262626;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 16px;
    margin: 4px 0;
    font-weight: 600;
    width: fit-content;
    background-color: #f1f1f1;
}
.produto p i{
    min-width: 40px;
    text-align: center;
    margin-right: 15px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
}
.produto img{
    border-radius: 20px;
    overflow: hidden;
    padding: 0;
    margin-right: 20px;
}


.loading div.placeholder{
    width: 150px;
    height: 150px;
}


.modal-produto{
    transform: scale(0.1) translate(-50%, -50%);
    transform-origin: top left;
    position: fixed;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: -1;
    transition: 400ms !important;
    box-shadow: 0 0 -1 41em rgba(0,0,0,0.7)!important;
}

.show{
    opacity: 1;
    z-index: 50;
    box-shadow: 0 0em 25em 200em rgba(0,0,0,0.7)!important;
    transform: scale(1) translate(-50%, -50%) !important;
}