@{
    ViewData["Title"] = "Cadastro de Produto";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Scripts {
    <script src="~/clientapp/dist/views/produto/Listagem.js"></script>
}
<div id="root"></div>

