@{
    ViewData["Title"] = "CategoriaView";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Scripts {
    <script src="~/clientapp/dist/views/categoria/Index.js"></script>
}

<div id="root"></div>