@{
    ViewData["Title"] = "Login Admin";
    Layout = "~/Views/Shared/_LayoutAdminLimpo.cshtml";
}

@section Scripts {
    <script src="~/views/login/index.js"></script>
    <script src="~/clientapp/dist/views/login/Index.js"></script>
}
<p>foi</p>
<div id="root"></div>
