
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Scripts {
    <script src="~/clientapp/dist/views/todo/Index.js"></script>
}

<h1>Todo List Cria</h1>
<div id="root"></div>

